<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset("css/style.css") }}" />
        <link rel="icon" href="{{ asset("favicon.ico") }}">
    </head>
    <body>

        <div class="siteheader">
        <h1>MVC</h1>
        </div>

        <div class="navbar">
        <nav>
        <ul>
        <li><a href="{{ url("home") }}">Home</a></li>
        <li><a href="{{ url("about") }}">About</a></li>
        <li><a href="{{ url("report") }}">Report</a></li>
        <li><a href="{{ url("debug") }}">Debug</a></li>
        <li><a href="{{ url("card") }}">Card</a></li>
        </ul>
        </nav>
        {% block content %}
        Default content
        {% endblock %}

        <div class="sitefooter">
        <div>MVC</div>
        <div>Andreas W</div>
        <div>BTH 2022</div>
        </div>
    </body>
</html>
